<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信图片素材处理中心 - PowerBy Wefee.CC</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/require.js"></script>
    <script src="/static/main.js"></script>
    <style>
        h3 { line-height: 160px; background-color: #20a0ff; color: #FFF; margin: 0px; font-family: "Microsoft Yahei"; margin-bottom: 20px; }
        li { list-style: none; }
        .container { width: 990px!important; }
        ul { width: 100%; height: auto; }
        ul li { width: 150px; height: 120px; margin: 10px 5px; float: left; cursor: pointer; }
        ul li:hover { border: 5px solid #16987e; }
    </style>
</head>
<body>

{:token()}

<h3 class="text-center">微信图片素材处理中心</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-12 form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">图片素材ID</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" name="file" class="form-control" placeholder="请选择图片">
                        <div class="input-group-addon select-image">选择图片</div>
                    </div>
                    <div style="display: none" id="select-image"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="alert alert-warning">
                <p><b>注意：</b></p>
                <p>大小：2M，支持 PNG,GIF,JPG 格式</p>
            </div>
        </div>

    </div>
</div>

<script >
    require(['jquery', 'webuploader'], function ($, wu) {
        $('.select-image').click(function () {
            $('#select-image input[name="file"]').click();
        });
        var uploader = wu.create({
            auto: true,
            server: '{:url("wechat/service/uploadImage")}',
            pick: {
                id: '#select-image',
                multiple: false
            },
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/gif,image/png,image/jpg,image/jpeg'
            }
        });
        uploader.on('uploadSuccess', function(file, response) {
            if (response.code != 200) {
                alert(response.message);
                return ;
            }
            $('input[name="file"]').val(response.msg);
        });
    });
</script>

</body>
</html>