{extend name="layout:base"}

{block name="body"}

<nav class="row no-margin top-header-menu">
    <div class="col-lg-2 lh-60">
        <strong>Wefee</strong>
        <small>PowerBy wefee.cc</small>
    </div>
    <div class="col-lg-8">

    </div>
    <div class="col-lg-2 text-right lh-60">
        您好，<b>{$user->username}</b>
    </div>
</nav>

<div class="container mt-20 bg-fff br-5">
    <div class="row">
        <div class="col-lg-12 pt-15-pb-15">
            我是主面板<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>

<footer class="row no-margin lh-40 text-center">
    <p>CopyRight Wefee.CC 免责声明：未经商业授权用户请勿删除来源！</p>
</footer>

{/block}